FCFS_sxheduling_algorithim.exe
PriorityScheduling.exe
RoundRobinScheduling.exe
SJF_scheduling_algorithim.exe
BankersAlgorithim.exe
Paging.exe
FIFO.exe
Pactice.exe
Practice.c
Practice2.c
Practice2.exe
Practice3.c
Practice4.c
Practice3.exe
